body {
  padding-top: 10px;
  padding-bottom: 10px;
}

tr.active {
	font-weight: bolder;
}

.etape-titre, .etape-suite {
	font-size: 70px;
	font-weight: bolder;
}

.entrainement-debut, .entrainement-fin {
	font-size: 20px;
}

.etape-suite, .entrainement-fin {
	float: right;
}

.etat-preparation {

}
.etat-effort {
	color:green;
}
.etat-repos {
	color:red;	
}
.etat-termine {
	color:blue;
}